<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  {%load static%}
  <link rel="stylesheet" href="{%static 'style.css'%}" >
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>

  <ul>
    <li><a href="/"><img name="navLogo"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdACt6JONjOzXem4mf6WerKEwiKAQhM1MVdw&usqp=CAU"></a>
    </li>
    <li><a href="/Compare_Page"><img name="navLogo"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9c59TSMejy58n2449ycIGm4Z_B_-ELsoj4IY9M39jmwKjNTc2mMDaxo1jPfv-9daaQ48&usqp=CAU"></a>
    </li>
  </ul>
</body>

</html>