h2 {
  margin-left: 40%;
}

div[name="search-container"] {
  text-align: center;
}
input[name="search-container"] {
  text-align: center;
}
div[name="items-table"]{
  background-color: #dac292;
  margin: 10%;
  background-size: contain;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: contain;
}
td {
  text-align: left;
}
div[class^="textAndImageItems"]{
  text-align: center;
}
div[name="search_form"] {
  margin: 20%;
}
h1 {
  font-size: 50px;
  color: #004d99;
  margin-top: 50px;
  margin: 20px;
}

h2 {
  font-size: 30px;
  color: #004d99;
  margin-top: 30px;
}

table {
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  border-collapse: collapse;
}

table td {
  padding: 10px;
  border: 1px solid #0b07ee;
}

table td img {
  margin-bottom: 10px;
}
img[name="navLogo"] {
  border-radius: 50%;
  max-width: 80px;
}

form label {
  display: flex;
  margin-top: 60px;
  font-size: 30px;
  color: #333;
}

form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  background-color: #c5c2c2;
  margin: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #004d99;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
